h1.auth-title {
    font-size: 32px;
    font-family: var(--font-bold);
    letter-spacing: -1px;
    margin-bottom: 38px;
}
form.auth-form-wrapper {
    max-width: 506px;
    margin: auto;
    background: white;
    padding: 32px 24px 42px;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 3px 30px 0px #00000005;
    border-radius: 10px;
}
#app-wrapper .form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#app-wrapper .form-control label {
    font-size: 14px;
    font-family: var(--font-bold);
}
#app-wrapper .form-control input,
#app-wrapper .form-control select,
#app-wrapper .form-control textarea {
    background: #F9F9F9;
    height: 55px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
}
#app-wrapper .form-control textarea {
    height: auto;
    min-height: 100px;
}
#app-wrapper .form-control input:focus,
#app-wrapper .form-control select:focus,
#app-wrapper .form-control textarea:focus {
    border-color: var(--sec-color);
    outline-color: var(--sec-color);
}
#app-wrapper .form-control .file-upload {
    text-align: center;
    border: 1px dashed #C3C4CD;
    border-radius: 4px;
    background: #F9F9F9;
    min-height: 124px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app-wrapper .form-control .file-upload input.file-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.form-control .delete {
    background-color: red;
    color: white;
    width: 14px;
    height: 14px;
    text-align: center;
    border-radius: 50%;
    line-height: 10px;
    cursor: pointer;
}
ul.file-names  {
    display: flex;
    flex-direction: column;
}
ul.file-names li {
    padding: 5px 10px;
}
/* ul.file-names li:nth-child(even) {
    border-top: 1px solid #EEEEEE;
} */

.portal-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #00000033;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: var(--font-medium);
    text-transform: uppercase;
    background-color: white;
    font-size: 10.5px;
    color: #000000;
    letter-spacing: 2px;
}
.active-portal-btn {
    background: #108A000D;
    border-color: var(--sec-color);
}
.inactive-portal-btn {
    background-color: white;
    border: 1.33px solid #C3C4CD;
}
.portal-btn .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    border: 1.33px solid #C3C4CD;
}
.active-portal-btn .dot {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}
.active-portal-btn .dot::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}