/* Collapsible styles */
.collapsible-section {
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.collapsible-header {
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    transition: background-color 0.3s;
    position: relative;
}
.collapsible-header:hover {
    background-color: #f9fafb;
    position: relative;
}
.collapsible-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}
.collapsible-arrow-icon {
    /* position: absolute; */
    padding: 16px;
    background-color: var(--pry-color);
    border-radius: 6px;
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 1rem;
}
.collapsible-content.active {
    max-height: 2000px;
    /* Arbitrary large value */
    padding: 1rem;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.arrow-icon.active {
    transform: rotate(180deg);
}

/* Add a bit of shadow to make sections pop */
.collapsible-section {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Active section styling */
.collapsible-header.active {
    border-bottom: 1px solid #e5e7eb;
}

.vehicle-form-fields {
    max-width: 750px;
    margin: 45px auto;
}
.vehicle-form-fields .ant-form-item{
    margin-bottom: 0;
}
#vehicle-registration-form .ant-collapse-item {
    /* border: 1px solid #00000033; */
    border-radius: 8px;
    overflow: hidden;
}
#vehicle-registration-form .ant-collapse-header {
    background: #F9F9F9;
    display: flex;
    align-items: center;
    gap: 18px;
}
#vehicle-registration-form .ant-collapse .ant-collapse-content {
    border-top: none;
}
#vehicle-registration-form .ant-collapse-expand-icon {
    width: 32px;
    height: 32px;
    background: var(--pry-color);
    color: white;
}
#vehicle-registration-form .ant-collapse-expand-icon {
    width: 32px;
    height: 32px;
    background: var(--pry-color);
    color: white;
    border-radius: 50%;
    font-family: var(--font-bold);
    display: flex;
    justify-content: center;
    padding: 0;
}