header {
    z-index: 2;
}
.nav {
    display: flex;
    align-items: center;
}
.mobile-menu {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 0;
    transition: all 1.2s;
    overflow: hidden;
}
.mobile-menu.active {
    /* display: block; */
    max-height: 1000px;
}

#header-color-bars {
    display: flex;
}
#header-color-bars > div {
    height: 5px;
    width: 100%;
}
#sub-header {
    background-color: var(--pry-color);
    color: white;
    padding: 10px;
    font-family: var(--font-light);
}
#sub-header > .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    max-width: 100%;
    overflow: auto;
}
.sub-header-item.flex-div {
    gap: 8px;
    font-size: 11px;
}

#main-header {
    padding: 17.25px 0;
    background-color: white;
}
#main-header nav a {
    color: #131313;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
}
.nav-logo {
    width: 35%;
    max-width: 380px;
}
.mid-link {
    gap: 14px;
}
.mid-link a {
    padding: 8px 10px;
}
.mid-link a.active {
    border-bottom: 1px solid var(--sec-color);
}
.nav-btn-wrapper {
    gap: 16px;
}
.nav-btn, .pry-nav-btn {
    padding: 14px 24px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    box-sizing: border-box;
    max-height: 45px;
    display: inline-flex;
}
.nav-btn {
    border: 1px solid #00000033 !important;
    color: #000 !important;
    background-color: white;
}
.pry-nav-btn {
    color: #fff !important;
    background-color: var(--sec-color) !important;
    border: 1px solid var(--sec-color) !important;
    gap: 5px;
}
main ul.flex-div.nav-btn-wrapper {
    display: flex !important;
}
.nav-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}
.nav-overlay.active {
    display: block;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D8EFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

@media (max-width: 992px) {
    #sub-header {
        display: none;
    }
    .nav-logo {
        width: 60%;
    }

    /* .mobile-menu {
        display: none;
    }
    .mobile-menu.active {
        display: block !important;
    } */
}
